footer
{
	width: 100%;
	background: #f0f0f0;

    position: relative;
    overflow: hidden;
}

footer .content
{
	width: 80%;
	margin: auto;
}

footer .detail
{
	margin: 30px;
}

footer .detail p
{
	margin: 0px;
}


footer
{
	font-weight: 1;
}

.bottomtext
{
	width: 100%;
	background: #5d6c84;
	color: white;
}

.bottomtext p
{
	width: 100%;
	padding: 20px 0px;
	text-align: center;
	margin: 0px;
	font-size: 12px;
}